/*--------------------------------------------------------------
    [ ## Sections ]
--------------------------------------------------------------*/

/*-------------------------------------------------
    [ ### brand block ]
*/

// --------------------------------------------Banner section style-------------------------------------
.banner{
    
    .banner-left{
        .banner-title{
            font-size: 59px;
            font-weight: bolder;
            color: $dark--green--color;
            text-transform: uppercase;
            @include for-1200-1399{
                font-size: 35px;
            }
            @include for-1025-1199{
                font-size: 35px;
            }
            @include for-992-1024{
                font-size: 35px;
            }
            @include for-768-991{
                font-size: 30px;
            }
            @include for-max-767{
                font-size: 25px;
            }

        }
        .banner-sub-title{
            color: $light--green--color;
            font-weight: 400;
            text-transform: uppercase;
            @include for-1200-1399{
                font-size: 35px;
            }
            @include for-1025-1199{
                font-size: 35px;
            }
            @include for-992-1024{
                font-size: 35px;
            }
            @include for-768-991{
                font-size: 30px;
            }
            @include for-max-767{
                font-size: 25px;
            }

        }
        .content{
            .banner-text{
                font-size: 25px;
                font-weight: 400;
                line-height: 24px;
                margin-top: 31px;
                @include for-max-575{
                    font-size: 14px;
                }
                @include for-max-991{
                    font-size: 18px;
                }

            }
        }
        .banner-btn{
            margin-top: 50px;

            @include for-max-991{
                margin-top: 25px;
            }

        }
    }
    .banner-right{
        float: right;
        @include for-max-575{
            display: none;
        }
        img{
            object-fit: cover;
        }
    }
}
.login{
    .login-left{
        @include for-max-767{
            display: none;
        }
        img{

        }
    }
    .form-wrapper{
        .login-title{
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;

        }
        .login-form{
            .email-input-wrapper{
                margin-bottom: 32px;

                label{

                }
                .input{
                    width: 100%;

                }
                
            }
            .password-input-wrapper{
                label{}
                .input{
                    width: 100%;
                }

            }
            .save-gorget-wrapper{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;
                .input-save-wrapper{
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    .input-checkbox{

                    }
                    span{

                    }
                }
                
                .forge-question{
                    color: $blue-color;

                }
            }
            .login-btn{
                width: 100%;
            }
        }
    }
}
.register{
    .repeat-password{
        margin-top: 32px;
    }
    .register-notification{
        margin-top: 25px;
        margin-bottom: 14px;
        font-size: 14px;
        padding: 0 20px;
        text-align: center;
        p{
            a{
                color: $blue-color;
            }
        }

    }
}














